body {
  font-size: 16px;
  background-color: #e6c462;
  font-family: 'Oxygen', sans-serif;
}

/* HEADER */
#header-nav {
  background-color: #ac9c2c;
  border-radius: 0;
  border: 0;
}

.navbar-header{
  height: 105px;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'bello-pro-1', serif;
  color: black;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}


.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
  font-size: 25px;
}
#nav-list a:hover {
  background: gainsboro;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

.text-center{
  font-size: 45px;
  font-family: 'bello-pro-2';
  color: black;
  font-weight: bold;
  margin-bottom: 25px;
}



#main-content{
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #cfc9be;
  color: black;
  text-align: center;
  color: black;
  font-weight: bold;
  margin-bottom: 50px;
  padding: 15px;

  
}